.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.btn-paleta{
    height: 50px;
    width: 100px;
    border: 0px;
}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}
